#product {
    width: 90%;
    margin: auto;
    background: black;
}

div.prbox {
    padding:1%;
    padding-top: 1%;

}
.prbox-1 {
    background: rgb(54, 53, 53);
    width: 23.7%;
    display: inline-block;
    margin: 0.42%;
    border: 1px solid gray;

}
.primg {
    height: 145px;
    line-height: 155px;
    text-align: center;
}
.primg img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    margin: 0px;
}

div.prcode {
    display: inline-block;
    background: rgb(36, 35, 35);
    width: 98%;
    height:50px;
    line-height: 50px;
    margin-left: 1%;
    margin-top: 0px;
}

.top-master-champ {
    float: right;
    height: 100%;
}

img.champ-master {
    vertical-align: middle;
}
.prlink {
    position: relative;
}
.hidden-info {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    width: 95%;
    height: 155px;
    z-index: 10;
    padding: 10px;
    background: rgba(0, 0, 0, .8);
    border-bottom: 1px solid #2b2b2b;


}
.prbox-1:hover div.hidden-info {
    display: inline-block;
}
.hidden-info span {
    color: red;
}
.hidden-info ul {
    color: yellow;
}
.pr-if {
    position: relative;
}
.ranking{
    display:inline-block;
    position: absolute;
    top: 0px;
    right: 15px;
}
.pr-price{
    color: yellow;
    display:inline-block;
    right: 15px;
    position: absolute;
    top: 65px;
}
.prif-box {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
}

.pr-buy{
    text-align: center;
    background: url("../images/bgdn.png") center no-repeat;
    height: 40px;
    line-height: 40px;
}
.pr-buy a{
    color: black;
}

#footer {
    width: 90%;
    margin: auto;
    position: relative;
}

#footer div, #footer ul li, #footer span,#footer p {
    display: inline-block;
}

#footer div.thongke {
    position: absolute;
    right: 30px;
}
.thongke ul li {
    position: relative;
    margin-left: 30px;
}

.thongke ul li p {
    margin-left: 5px;
}
.thongke span {
    position: relative;
    height: 50px;
    width: 50px;
    background: black;
    border-radius: 50%;
    border: 1px solid gray;
}

.thongke img {
    position: absolute;
    top: 10px;
    left: 8px;
}
#listgr {
    padding-bottom: 10px;
}
#listgr ul li {
    list-style-type: none;
    display: inline-table;
    width: 20px;
    height: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
}
#listgr ul li:hover {
    background: gray;
    color: #fff;
    cursor: pointer;
}


