
body {
    background: rgb(37, 37, 37);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

body div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

h3, a {
    color: cornsilk;
}

#header div.container {
    width: 90%;
    margin: auto;
    position: relative;
}

#header ul li {
    display: inline-table;
    list-style-type: none;
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 10px;
    cursor: pointer;
}  
#header ul li:hover h3 {
    color: yellow;
} 
#header ul {
    display: inline-block;
    float: right;
}


#header {
    height: 85px;
    width: 100%;
    background: url("../images/bghd.jpg");
    position: relative;
}

#dangnhap {
    display: inline-block;
    padding-top: 20px;
    height: 35px;
    width: 169px;
    background: url("../images/bgdn.png") center no-repeat;
    float: right;
    cursor: pointer;
}
#dangnhap li a{
    display: inline-block;
    height: 18px;
    padding-left: 15px;
    line-height: 18px;
    color: black;
    cursor: pointer;
}

#logo {
    position: relative;
    display: inline;
    height: 50px;
    width: 200px;
    padding-top: 10px;
    cursor: pointer;
}

#banner {
    width: 90%;
    height: auto;
    margin: auto;
    border: black;
}
iframe {
    width: 100%;
    height: 445px;
}

#search {
    padding-top: 20px;
}
#search div.container {
    
    width: 90%;
    margin: auto;
    height: auto;
    background: rgb(31, 29, 29);
    padding-bottom: 20px;
}
#search ul li {
    display: inline-table;
    list-style-type: none;
    padding-top: 10px;
    padding-left: 20px;
}
.timkiem {
    width: 250px;
    height: 40px;
    background-color: black;
    color: cornsilk;
    border: none;
}

#search ul li {
    list-style-type: none;
}

#search ul h3 {
    color: #fff;
    padding-left: 20px;
}
#search ul li.timkiem-button{
    height: 30px;
    line-height: 25px;
    width: 150px;
    background: url("../images/bgdn.png") center no-repeat;
    margin-top: 25px;
    margin-right: 50px;
    float: right;
    cursor: pointer;
}
#search ul li a{
    color: black;
    padding-left: 28px;
}

#search ul li input {
    padding: 0px 0px;
}




